/* 미리보기 모드에서 링크 밑줄 제거 */
.markdown-preview-view a.internal-link {
    text-decoration: none !important;
}

/* 편집 모드에서 링크 밑줄 제거 */
.cm-s-obsidian .cm-link {
    text-decoration: none !important;
}

/* 인용문 스타일링 */
blockquote {
    background-color: #f9f9f9 !important;
    border-left: 4px solid #3498db !important;
    padding: 5px 20px !important;
    font-style: inter !important;
}

/* 인라인 코드 텍스트 크기 조정 */
div:not(.CodeMirror) code {
    font-size: 13px !important;
    font-weight: bold !important;
}